[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "deepMOU"]
	path = deepMOU
	url = https://github.com/cran/deepMOU
	shallow = true
	registered = true
